html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
div {
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

$danger:#D36C43;
$primary:#0892A5;
$light:#F3F7EC;
$pale:#C1DBE3;
$dark:#7B7D84;

body {
  background-color: #f9f9fa;
}

#root {
  width: 60%;
  min-height: 100vh;
  max-width: calc(400px + 6rem);
  margin: 0 auto;
  padding: 0;
  background-color: white;

  .form-wrap {
    border-bottom: 1px solid #ddd;
    padding: 3em 18px 18px;
    background-color: $light;

    &::after {
      display: block;
      content: '';
      clear: both;
    }
  }

  textarea {
    width: 100%;
    box-sizing: border-box;
    height: 130px;
    resize: none;
    border: 2px solid #777;
    background-color: #fff;
    border-radius: 2px;
    margin-bottom: 12px;
    font-size: 14px;

    &:focus, &:active {
      outline: none;
      border-color: rgb(35, 0, 200);
    }
  }
  
  button {
    border: 2px solid #777;
    border-radius: 2px;
    background-color: $pale;
    box-shadow: 2px 2px 0 #333;
    font-size: 16px;
    font-family: 'Anton', sans-serif;
    padding: 4px 2em;
    color: #333;
    cursor: pointer;

    &:active {
      transform: translate(2px, 2px);
      box-shadow: 0px 0px 0 #333;
      outline: none;
    }

    &:focus {
      outline: none;
      border-color: rgb(35, 0, 200);
    }

    &.smaller {
      font-size: 12px;
      padding: 2px 0.8em;
    }

    &.flat {
      box-shadow: none;
      border: transparent;
      letter-spacing: 0.4px;
      text-transform: uppercase;
    }

    &.primary {
      background-color: $primary;
      color: #eee;
      margin-left: 9px;
      float: right;
    }

    &.danger {
      background-color: $danger;
      color: #eee;
      margin-left: 9px;
      float: right;
    }

    &.form-ctrl {
      float: right;
      margin-left: 24px;
    }
  }

  .dl-item {
    &.hovered {
      background-color: $dark;
      
      > * {
        opacity: 0;
      }
    }

    &.floating .list-item {
      box-shadow: 6px 6px 2px rgba(0, 0, 0, 0.15);
      transform: rotate(-1deg);
      border: 1px solid #ddd;
    }
  }

  .list-item {
    padding: 12px 18px;
    border-bottom: 1px solid #ddd;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    transition: transform 0.2s ease-in-out;

    > div {
      padding-bottom: 12px;
    }
  
    &.active {
      background-color: hsla(200, 100%, 80%, 0.1);
    }

    &::after {
      display: block;
      content: '';
      clear: both;
    }
  }
}
